<footer>
    <div class="footer-container">
        <a href="https://www.instagram.com/r.nails74/" target="_blank" class="instagram-link">
            <img src="/images/instagram.png" alt="Instagram R.Nails74" class="instagram-icon">
        </a>
        <p>Contact : <a href="mailto:contact@rnails74.fr">contact@rnails74.fr</a></p>
        <p>&copy; 2024 R.Nails74 - Tous droits réservés.</p>
    </div>
</footer>