<nav class="site-navbar">
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/prestations">Prestations</a></li>
        <li><a href="/reservation">Réservation</a></li>
    </ul>
</nav>