<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil | R.Nails74</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("partials/header") %>
<p>404</p>
    
    <%- include("partials/footer") %>
</body>
</html>