<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil | R.Nails74</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("partials/header") %>
    <%- include("partials/navbar") %>

    <main class="home-container">
        <h1>Bienvenue chez R.Nails74</h1>
        <img src="/images/Logo.png" alt="Logo">
    </main>

    <%- include("partials/footer") %>

    <!-- Chargement du JS -->
    <script src="/js/script.js"></script>
</body>
</html>